@import "./variables";

* {
  font-family: $font-family;
}

html {
  background: $colour-background;
  color: $colour-text;
  font-weight: lighter;
  @media (min-width: 500px) {
    font-size: 1.1rem;
  }
  @media (min-width: 700px) {
    font-size: 1.2rem;
  }
  @media (min-width: 1000px) {
    font-size: 1.3rem;
  }
}

body {
  margin: 0;
}

#page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-main {
    height: 100vh;
  }

  .heading {
    font-weight: lighter;
  }

  .text {
    // background-color: red;
    margin: 0 1.5rem;

    @media (min-width: 425px) {
      margin: 0 3rem;
    }

    @media (min-width: 550px) {
      margin: 0 4rem;
    }

    @media (min-width: 800px) {
      margin: 0 6rem;
    }

    @media (min-width: 1075px) {
      margin: 0 7rem;
    }

    @media (min-width: 1140px) {
      margin: 0 9rem;
    }

    @media (min-width: 1200px) {
      margin: 0 11rem;
    }

    @media (min-width: 1300px) {
      margin: 0 14rem;
    }

    @media (min-width: 1500px) {
      margin: 0 17rem;
    }

    @media (min-width: 1550px) {
      margin: 0 25rem;
    }

    @media (min-width: 1800px) {
      margin: 0 27rem;
    }
  }

  .text-main {
    font-size: 1.4rem;
  }

  .btn-view-work {
    font-size: 1.1rem;
    font-weight: lighter;
    // justify-self: stretch;
    color: $colour-text;
    background-color: transparent;
    // border: 1px solid $colour-text;
    border: none;
    margin: 1.2rem 0;
    padding: 1.2rem 1.5rem;
    border-radius: 10rem;
    transition: background 0.5s, color 0.5s;
  }

  .btn-view-work:hover {
    cursor: pointer;
    background-color: $colour-text;
    color: $colour-background;
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.5rem 0;
    // background-color: red;
    figcaption {
      padding: 0.1rem 0;
      background-color: rgb(233, 233, 233);
      text-align: center;
      box-shadow: 0px 7px 10px -10px;

      width: 100%;
    }

    img,
    figcaption {
      max-width: 100%;
      @media (min-width: 650px) {
        width: 95%;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
      }

      @media (min-width: 750px) {
        width: 85%;
      }

      @media (min-width: 900px) {
        width: 80%;
      }
      @media (min-width: 1100px) {
        width: 70%;
      }

      @media (min-width: 1200px) {
        width: 53%;
      }
    }
  }

  .contact {
    margin-bottom: 2rem;
    .details {
      margin: 0.3rem 0;
    }
  }
}
